@import 'mixin';
html,body{
    @include body;
    font-size: .14rem;
    overflow: hidden;
}
.bdl_main{
    @include Dom;
    .bdl_title{
        height: .45rem;
        display: flex;
        padding: 0 .12rem;
        justify-content: space-between;
        align-items: center;
        border-bottom: .01rem solid  #dddddd;
        font-size: .18rem;
        background: #fff;
    }
    .bdl_title span:nth-child(1){
        justify-content: flex-start;
    }
    .bdl_title span:nth-child(3){
         height: .17rem;
        width: .1rem;
    }
    .bdl_title span:nth-child(1){
        height: .17rem;
        width: .1rem;
        display: flex;
        background: url(../img/goBack.png) no-repeat;
        background-size: cover;
    }
    .bdl_box{
        width: 100%;
        border-top: .01rem solid  #dddddd;
        margin-top:.1rem;
        .list{
            background: #fff;
            display: flex;
            width: 100%;
            height: 0.5rem;
        }
        .list_list{
            width: 100%;
            margin-left:.1rem;
            background: #fff;
            display: flex;
            align-items: center;
            border-bottom: .01rem solid  #dddddd;
        }
        .ico{
            height:.12rem;
            width:.16rem;
            display: flex;
            margin-right:.1rem;
        }
        .input{
            background: #fff;
            border:0;
            height: 100%;
            width:100%;
            box-sizing: border-box;
            flex:1;
            text-indent: .05rem;
            // text-align: right;
            font-size: .14rem;
        }
        .bank{
            background: url(../img/001.png) no-repeat;
            background-size: cover;
        }
        .odd{
            width: .65rem;
            font-size: .15rem;
        }
        .bdl_change{
            flex:1;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .rightPu{
            width: .09rem;
            height: .16rem;
            display: flex;
            margin: 0 .05rem;
            margin:0 .15rem;
            
            background: url(../img/arrow02.png) no-repeat;
            background-size: cover;
        }
        .col{
            margin-right:.39rem;
        }
        .monClo{
            margin-left:.3rem;
        }
        .loan{
            background: url(../img/002.png) no-repeat;
            background-size: cover;
        }
        .downPayment{
            background: url(../img/003.png) no-repeat;
            background-size: cover;
        }
        .periods{
            background: url(../img/004.png) no-repeat;
            background-size: cover;
        }
        .poundage{
            background: url(../img/005.png) no-repeat;
            background-size: cover;
        }
        .missionInput1,.missionInput2{
          text-align: right;
          color:#999;
        }
    }
}

.carAppearance{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  overflow-y: scroll;
  .carLineContent{
    p{
      box-sizing: border-box;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      padding-left: 0.2rem;
      height: 0.25rem;
      line-height: 0.25rem;
      background: #eeeeee;
      font-size: 0.12rem;
      color: #999999;
    }
    ul{
      li{
        box-sizing: border-box;
        margin-left: 0.2rem;
        border-bottom: 1px solid #dddddd;
        padding-left: 0.35rem;
        height: 0.45rem;
        line-height: 0.45rem;
        font-size: 0.15rem;
        color: #666666;
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}
.completeBtn{
    position: absolute;
    bottom:.35rem;
    left:50%;
    margin-left: -1.68rem;
    a{
      display: block;
      margin: 0 auto;
      width: 3.36rem;
      height: 0.43rem;
      line-height: 0.43rem;
      border-radius: 0.03rem;
      background: #3764be;
      font-size: 0.15rem;
      text-align: center;
      color: #FFFFFF;
    }
  }