@import 'mixin';
body,html{
    @include body;
    font-size: .12rem;
    background: #fff;
}
.bdl_messBox{
    @include Dom;
    .div_box{
        background: #fff;
        height: auto;
        border-top:1px solid #eee;
        // border-bottom:1px solid #eee;
        display: flex;
        flex-direction: column;
        .textBox{
            background: #fff;
            display: flex;
            flex-direction: column;
            padding: 0 .2rem;
            border-bottom:1px solid #eee;
        }
        
        .fTwo{
            border-bottom:1px solid #eee;
            margin-top:.1rem;
            background: #fff;
            border-top:1px solid #eee;
        }
        .back{
            border-top:1px solid #eee;
            background: #f6f6f6;
        }
        .backodd{
            padding-top:.15rem;
        }
        .img1{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index:88;
        }
        .img{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index:88;
        }
        .bdl_textTitleOdd{
            white-space: nowrap;
        }
        .img2{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index:88;
        }
        .img3{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index:88;
        }
        .close{
            z-index: 999;
        }
        .num{
            margin-right:.1rem;
            border-radius: 50%;
            background: rgb(55,100,190); 
            color:#fff;      
            height:.15rem;
            width:.15rem; 
            display: flex;
            justify-content: center;
            align-items: center;  
        }
        .title{
            background: #fff;
            height: .4rem;
            font-size: .14rem;
            padding: 0 .2rem;
            display: flex;
            align-items: center;
            border-top:1px solid #eee;
        }
        .listFile{
            display: flex;
            height: .55rem;
            align-items: center;
            justify-content: space-between;
        }
        .listFile span:nth-child(1){
            width:1rem;
            white-space: nowrap;
        }
        // .listFile span:nth-child(2){
        //     // width:1.45rem;
        //     text-indent: .2rem;
        //     justify-content: flex-start;
        //     flex:1;
        // }
        // .listFile span:nth-child(3){
        //     // width:.4rem;
        //     display: flex;
        //     margin-right:.1rem;
        //     justify-content: flex-end;
        // }
        .titleTop{
            padding: 0 .2rem;
            height: .4rem;
            border:1px solid #eee;
            color:rgb(153,153,153);
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fcfcfc;
        }
        // .titleTop span:nth-child(2){
        //     // width:1.45rem;
        //     text-indent: .2rem;
        //     justify-content: flex-start;
        //     flex:1;
        // }
        // .titleTop span:nth-child(3){
        //     width:.4rem;
        //     display: flex;
        //     margin-right:.1rem;
        //     justify-content: flex-end;
        // }
        .titleTop span:nth-child(1){
            width:1rem;
        }
        .imgEye{
            width: .2rem;
            height: .12rem;
            background: url(../img/eye.png) no-repeat;
            background-size: cover;
            display: flex;
        }
        .txtBoo{
            display: flex;
            flex-direction: column;
            // margin-top: .1rem;
            background: #f6f6f6;
            
        }
        .photo{
            height: auto;
            width:100%;
            background: #fff;
        }
        .photoBox{
            height: auto;
            width: 100%;
            display: flex;
            
        }

        .uploadListBig{
            display: flex;
            flex:1;
            justify-content: center;
        }
        .uploadListBig .upload {
        position: relative;
        box-sizing: border-box;
        width: 2.1rem;
        
        height: 1.3rem;
        border-radius: .05rem;
        background: rgb(247,247,247);
        border:1px dashed #c7c7c7;
        display: flex;
        flex-direction: column;
        }

        .uploadListBig .upload .uploadBtn {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        }
        .uploadListBig .upload .upBg {
        position: absolute;
        width: .49rem;
        height:.35rem;
        top:.1rem;
          background: url("../img/photo.png") no-repeat;
          background-size: 100%;
        z-index: 0;
        }
        .uploadList .upload .uploadBtn {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        }
        .uploadList .upload .upBg {
        position: absolute;
        width: .49rem;
        height:.35rem;
        background: rgb(247,247,247);
        border:1px dashed #c7c7c7;
         background: url("../img/photo.png") no-repeat;
        background-size: 100%;
        z-index: 0;
        }

        .upload .close {
        display: none;
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        width: 0.2rem;
        height: 0.2rem;
        background: url("../img/closeBtn1.png") no-repeat;
        background-size: 100%;
        z-index: 10;
        }
        .upload.on .close {
          display: block;
          z-index: 800;
        }
        .bdl_listZhaoAdd{
            display: flex;
            justify-content: space-between;
            margin-top:.25rem;
            box-sizing: border-box;
        }
        .bottom{
            width:100%;
            display: flex;
            margin-top:.3rem;
            justify-content: center;
            font-size: .15rem;
        }
        .bottom input{
            width:1.3rem;
             border-radius: 5px;
            height: .35rem;
            font-size: .14rem;
        }
        .bottom input:nth-child(1){
            background: #fff;
            border:1px solid rgb(55,100,190);
            color:rgb(55,100,190);
           margin-right:.2rem;
        }
        .bottom input:nth-child(2){
            background: rgb(55,100,190);
            border:1px solid rgb(55,100,190);
            color:#fff;
            margin-left:.2rem;
           
        }
        .txtBoo{
            margin-bottom:.25rem;
        }
        .boxP{
            position: absolute;
            left:50%;
            top:50%;
            margin-left: -.4rem;
            margin-top:-.4rem;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            width: .8rem;
            height: .7rem;
            align-items: center;
            position: relative;
            justify-content: center;
            color:rgb(190,190,190);
        }
        .boxP p{
            position: absolute;
            bottom: 0;
        }
    }
}
.addPhoto{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,0.2);
}
.imgFile{
    height: 80%;
    width: 100%;
    position: absolute;
    left:0;
    top:10%;
}
