body {
    width:100%;
    height:100%;
     margin:0;
}
.top1 {
        line-height:50px;
        text-align:center;
        height:50px;
        overflow:hidden;
}
.xian{ 
    width:100%;
    line-height:35px;
     height:35px;
     font-size:15px;
     background:#f6f6f6;
     text-align:center;
    }
.tab_time {
    border-collapse: collapse;
    width:100%;
}
    .tab_time tr {
     
    }
.tab_time  td{
    border:1px #999 solid;
    
}