.plugin_dialog {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
    visibility: hidden;
}
.plugin_dialog.show{
    visibility: visible;
}
.plugin_dialog .plugin_dialog_bg {
    background: #000;
    filter: alpha(opacity=30);
    min-height: 100%;
    opacity: .3;
    position: fixed;
    width: 100%;
    _height: 6400px;
}
.plugin_dialog .cssStyle{
    position: fixed;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 600px;
}
.plugin_dialog .plugin_dialog_content {
    position: fixed;
    z-index: 1000;
    border-radius: 0.04rem;
    background: #ffffff;
    overflow: hidden;
}
.plugin_dialog .plugin_dialog_content.scale{
    transform: scale(0.5);
    opacity: 0;
}
.plugin_dialog.show .plugin_dialog_content.scale{
    transform: scale(1);
    opacity: 1;
    transition: 500ms cubic-bezier(0.4, 0, 0, 1.5);
}
.plugin_dialog .plugin_dialog_bd {
    position: relative;
    padding: 0.15rem;
}
.plugin_dialog .Btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.plugin_dialog .Btn .send, .plugin_dialog .Btn .send2{
    display: inline-block;
    border-top: 1px solid #bababa;
    width: 50%;
    height: 0.36rem;
    font-size: 0.12rem;
    outline: none;
    color: #8796b0;
    background: #FFFFFF;
}
.plugin_dialog .Btn .send{
    border-left: 1px solid #bababa;
    border-bottom-right-radius: 0.03rem;
}
.plugin_dialog .Btn .send2{
    border-bottom-left-radius: 0.03rem;
}
.plugin_dialog .Btn .okBtn{
    margin-bottom: 0.36rem;
    border-radius: 0.03rem;
    width: 2.85rem;
    height: 0.4rem;
    color: #ffffff;
    font-size: 0.15rem;
    background: #8796b0;
    box-shadow: 0 0.02rem 0.03rem rgba(0,0,0,.5);
}
