<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blchina.employee.dao.BDLDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.blchina.employee.model.BDLDepartment">
    <id column="departmentId" jdbcType="INTEGER" property="departmentid" />
    <result column="departmentName" jdbcType="VARCHAR" property="departmentname" />
    <result column="updepartmentId" jdbcType="INTEGER" property="updepartmentid" />
    <result column="departLeader" jdbcType="VARCHAR" property="departleader" />
    <result column="departLeaderdutyId" jdbcType="INTEGER" property="departleaderdutyid" />
    <result column="startDate" jdbcType="VARCHAR" property="startdate" />
    <result column="endDate" jdbcType="VARCHAR" property="enddate" />
    <result column="ZZF1" jdbcType="VARCHAR" property="zzf1" />
    <result column="ZZF2" jdbcType="VARCHAR" property="zzf2" />
    <result column="ZZF3" jdbcType="VARCHAR" property="zzf3" />
  </resultMap>
  <sql id="Base_Column_List">
    departmentId, departmentName, updepartmentId, departLeader, departLeaderdutyId, startDate, 
    endDate, ZZF1, ZZF2, ZZF3
  </sql>
  <!-- 根据部门名称和上级部门ID查询 -->
  <select id="selectByDepartmentNameAndUpDepartmentId" parameterType="map" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bdl_department
    where departmentName = #{departmentName} 
    <if test="upDepartmentId != null">
    and updepartmentId = #{upDepartmentId}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bdl_department
    where departmentId = #{departmentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bdl_department
    where departmentId = #{departmentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blchina.employee.model.BDLDepartment">
    insert into bdl_department (departmentId, departmentName, updepartmentId, 
      departLeader, departLeaderdutyId, startDate, 
      endDate, ZZF1, ZZF2, 
      ZZF3)
    values (#{departmentid,jdbcType=INTEGER}, #{departmentname,jdbcType=VARCHAR}, #{updepartmentid,jdbcType=INTEGER}, 
      #{departleader,jdbcType=VARCHAR}, #{departleaderdutyid,jdbcType=INTEGER}, #{startdate,jdbcType=VARCHAR}, 
      #{enddate,jdbcType=VARCHAR}, #{zzf1,jdbcType=VARCHAR}, #{zzf2,jdbcType=VARCHAR}, 
      #{zzf3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blchina.employee.model.BDLDepartment">
    insert into bdl_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentid != null">
        departmentId,
      </if>
      <if test="departmentname != null">
        departmentName,
      </if>
      <if test="updepartmentid != null">
        updepartmentId,
      </if>
      <if test="departleader != null">
        departLeader,
      </if>
      <if test="departleaderdutyid != null">
        departLeaderdutyId,
      </if>
      <if test="startdate != null">
        startDate,
      </if>
      <if test="enddate != null">
        endDate,
      </if>
      <if test="zzf1 != null">
        ZZF1,
      </if>
      <if test="zzf2 != null">
        ZZF2,
      </if>
      <if test="zzf3 != null">
        ZZF3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentid != null">
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="departmentname != null">
        #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="updepartmentid != null">
        #{updepartmentid,jdbcType=INTEGER},
      </if>
      <if test="departleader != null">
        #{departleader,jdbcType=VARCHAR},
      </if>
      <if test="departleaderdutyid != null">
        #{departleaderdutyid,jdbcType=INTEGER},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="zzf1 != null">
        #{zzf1,jdbcType=VARCHAR},
      </if>
      <if test="zzf2 != null">
        #{zzf2,jdbcType=VARCHAR},
      </if>
      <if test="zzf3 != null">
        #{zzf3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blchina.employee.model.BDLDepartment">
    update bdl_department
    <set>
      <if test="departmentname != null">
        departmentName = #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="updepartmentid != null">
        updepartmentId = #{updepartmentid,jdbcType=INTEGER},
      </if>
      <if test="departleader != null">
        departLeader = #{departleader,jdbcType=VARCHAR},
      </if>
      <if test="departleaderdutyid != null">
        departLeaderdutyId = #{departleaderdutyid,jdbcType=INTEGER},
      </if>
      <if test="startdate != null">
        startDate = #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        endDate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="zzf1 != null">
        ZZF1 = #{zzf1,jdbcType=VARCHAR},
      </if>
      <if test="zzf2 != null">
        ZZF2 = #{zzf2,jdbcType=VARCHAR},
      </if>
      <if test="zzf3 != null">
        ZZF3 = #{zzf3,jdbcType=VARCHAR},
      </if>
    </set>
    where departmentId = #{departmentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blchina.employee.model.BDLDepartment">
    update bdl_department
    set departmentName = #{departmentname,jdbcType=VARCHAR},
      updepartmentId = #{updepartmentid,jdbcType=INTEGER},
      departLeader = #{departleader,jdbcType=VARCHAR},
      departLeaderdutyId = #{departleaderdutyid,jdbcType=INTEGER},
      startDate = #{startdate,jdbcType=VARCHAR},
      endDate = #{enddate,jdbcType=VARCHAR},
      ZZF1 = #{zzf1,jdbcType=VARCHAR},
      ZZF2 = #{zzf2,jdbcType=VARCHAR},
      ZZF3 = #{zzf3,jdbcType=VARCHAR}
    where departmentId = #{departmentid,jdbcType=INTEGER}
  </update>
</mapper>